@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    background-image: url(./pic.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.quiz-container {
    background-color: rgba(226, 196, 159, 0.65);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    margin-top: 1rem;
    overflow: hidden;
    height: 65vh;
}

.quiz-header {
    padding: 3rem;
}

h2 {
    margin: 0;
    text-align: center;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background-color: rgba(232, 178, 113, 0.812);
    font-family: inherit;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    margin-top: 4rem;
}

button:hover {
    background-color: rgba(207, 150, 81, 0.812);
}
