@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    min-height: 100vh;
    background-image: url(./pic.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    margin: 0;
}

.quiz-container {
    background-color: rgba(226, 196, 159, 0.65);
    width: 600px;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.quiz-header {
    padding: 2rem;
}

ul {
    list-style: none;
    padding: 0;
}
